body {
	background-image: url('backgroundphoto.jpg');
	background-size: cover;
	font-family: Helvetica, sans-serif;
	color: white;
}

h1 {
	color: white;
}

.img1 {
	width: 300px;
	height: auto;
	max-heigth: 500px;
	float: none;
	padding: 15px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
}

a {
	color: gold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

li a {
	display: block;
	background-color: rgb(70,0,0);
	color: white;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}

li {
	float: left;
}

li a:hover {
	background-color: rgb(50,0,0);
	}

.active {
	background-color: rgb(120,0,0);
}
	
p {
		font-size: 200%;
		display: inline;
		color: white;
	}
	
table {
	color: white;
	text-align: center;
}

tr {
	height: 600px;
	width: 400px;
	padding: 10px;
	margin: 20px;
	float: left;
	background-color: rgba(50,0,0,0.7);
}

.obraz {
	float: right;
}


.clearfix {
	clear: both;
}